In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import ipywidgets as widget
from decideanalyses import settings
%matplotlib inline

conn = sqlite3.connect(settings.DATABASE_URL)

In [8]:
df = pd.read_sql("""
SELECT i2.name as issue, a.name as actor, ai.position, ai.salience, ai.power FROM actorissue ai
  JOIN iteration i on ai.iteration_id = i.id
  JOIN repetition r on i.repetition_id = r.id
  JOIN modelrun m on r.model_run_id = m.id
  JOIN actor a on ai.actor_id = a.id
  JOIN issue i2 on ai.issue_id = i2.id
WHERE r.pointer = 1 and ai.type = 'before' and i.pointer = 0
GROUP BY ai.issue_id, ai.actor_id, i2.name, ai.position
ORDER BY i2.name, ai.position;
""", conn)

In [9]:
df

             issue         actor  position  salience  power
0    adapt_finance        Russia         0      0.30   0.35
1    adapt_finance           USA         0      0.70   1.00
2    adapt_finance        Russia         0      0.30   0.60
3    adapt_finance           USA         0      0.70   1.00
4    adapt_finance  Umbrella_min        30      0.75   0.30
..             ...           ...       ...       ...    ...
357       progress         AOSIS       100      0.85   0.10
358       progress      LDCs_BGD       100      0.85   0.10
359       progress   African_grp       100      0.75   0.25
360       progress         AOSIS       100      0.85   0.50
361       progress      LDCs_BGD       100      0.85   0.50

[362 rows x 5 columns]